{% extends "base.html.twig" %}

{% block title %}
    Weather
{% endblock %}

{% block body %}

    <div class="flex flex-col items-center justify-center w-screen min-h-screen text-gray-700 p-10 bg-gradient-to-br from-pink-200 via-purple-200 to-indigo-200 ">
        <div class="w-full max-w-screen-sm bg-gray-300 p-10 mt-10 my-10 rounded-xl ring-8 ring-white ring-opacity-40">
            <form method="POST" >
                <span class="text-6xl font-bold">Search: </span>
                <br><label for="cityName">Input:</label>
                <br><input type="text" id="cityName" name="cityName">
                <button class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded-full" type="submit" formaction="/weather">Submit</button>
            </form>
        </div>
        {% for location in locations %}
            <div class="w-full max-w-screen-sm bg-white p-10 mt-10 my-10 rounded-xl ring-8 ring-white ring-opacity-40">
                <div class="flex justify-between">
                    <div class="flex flex-col">
                        <span class="text-6xl font-bold">{{ location.getWeatherNow.getTemperature }}°C</span>
                        <span class="font-semibold mt-1 text-gray-600">{{ location.getWeatherNow.getWeather }}</span>
                        <span class="font-semibold mt-1 text-gray-500">{{ location.getWeatherNow.getCity }}, {{ location.getWeatherNow.getCountry }}</span>
                        <span class="font-semibold mt-1 text-blue-300">Wind speed: {{ location.getWeatherNow.getWindSpeed }} m/s</span>
                    </div>
                    <div class="weather-icon"><img src="{{"https://openweathermap.org/img/wn/" ~ location.getWeatherNow.getIcon ~ ".png"}}" /></div>
                </div>
            </div>
            <div class="flex flex-col space-y-6 w-full max-w-screen-sm bg-white p-10 mt-10 my-10 rounded-xl ring-8 ring-white ring-opacity-40">
                {% for record in location.getForecastFuture %}
                    <div class="flex justify-between items-center">
                        <span class="font-semibold text-lg w-1/4">{{ record.getDate }}</span>
                        <div class="flex items-center justify-end w-1/4 pr-10">
                            <span class="font-semibold">{{ record.getTemperature }}°C</span>
                        </div>
                        <span class="font-semibold text-lg w-1/4 text-right">{{ record.getWindSpeed }} m/s</span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}